
{% extends 'album_index.html' %}
{% block title %}
    <head>
        <meta charset="UTF-8">
        <title>{{ artist.name }}</title>
    </head>
{% endblock %}

{% load staticfiles %}

{% block content %}
    {% with "Database/pic/"|add:artist.id|add:".jpg" as image %}
        <a href="#"
           class="" onclick="setStatCookie&amp;&amp;setStatCookie();"
           hidefocus="true" title={{ artist.name }}>
            <img class="" onerror="this.src='{% static image %}';this.onerror=null;"
                 src="{% static image %}" width="200" height="162" alt={{ artist.name }}>
        </a>
        <h3 class="">
            <a href="#"
               onclick="setStatCookie&amp;&amp;setStatCookie();"
               class="" title={{ artist.name }}>
                歌手：{{ artist.name }}
            </a>
        </h3>
    {% endwith %}
{% endblock %}
