<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>歌手</title>
</head>
<body>
{% include "base.html" %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'CSS/artist_index.css' %}" type="text/css"/>
<div class="mod_singer_list">
    <ul class="singer_list__list">
        {% for artist in artists %}
            {% with "Database/pic/"|add:artist.id|add:".jpg" as image %}
                <li class="singer_list__item">
                    <div class="singer_list__item_box">
                        <a href="{% url 'artist:detail' artist.id %}"
                           onclick="setStatCookie&amp;&amp;setStatCookie();"
                           class="singer_list__cover" hidefocus="true"
                           title={{ artist.name }}>
                            <img class="singer_list__pic"
                                 onerror="this.src='{% static image %}';this.onerror=null;"
                                 src="{% static image %}"
                                 alt={{ artist.name }}>
                        </a>
                        <h3 class="singer_list__title">
                            <a href="" onclick="setStatCookie&amp;&amp;setStatCookie();"
                               class="js_singer" title={{ artist.name }}>
                                {{ artist.name }}
                            </a>
                        </h3>
                    </div>
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
</div>

</body>
</html>