{% extends 'album_index.html' %}
{% block title %}
    <head>
        <meta charset="UTF-8">
        <title>{{ artist.name }}</title>
    </head>
{% endblock %}

{% load staticfiles %}

{% block content %}
    <link rel="stylesheet" href="{% static 'CSS/artist_index.css' %}" type="text/css"/>
    {% with "Database/pic/"|add:artist.id|add:".jpg" as image %}
        <div class="mod_singer_list">
            <div class="singer_list__item_box" align="center">
                <img class="singer_list__pic"
                     onerror="this.src='{% static image %}';this.onerror=null;"
                     src="{% static image %}"
                     alt={{ artist.name }}>
                <h3 class="singer_list__title">
                    {{ artist.name }}
                </h3>
            </div>
        </div>
    {% endwith %}
{% endblock %}
