{% load staticfiles %}
<link rel="stylesheet" href="{% static 'CSS/base.css' %}" type="text/css"/>
<ul>
    {% with 1551 as id %}
        <li><a class="active" href="{% url 'home:home' %}">主页</a></li>
        <li><a href="{% url 'artist:index' %}">歌手</a></li>
        <li><a href="{% url 'album:index' %}">专辑</a></li>
        <li><a href="{% url 'playlist:index' %}">歌单</a></li>
        <li><a href="{% url 'user:song' id %}">我的空间</a></li>
        <li><a href="{% url 'search:home' %}">搜索</a></li>
        <form role="search" method="get" id="searchform" action="{% url 'search:detail' %}">
            <input type="search" name="q" placeholder="搜索" required>
            <input type="submit" value="提交">
        </form>
    {% endwith %}
</ul>
