<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全部歌单</title>
</head>

<body>
{% load staticfiles %}
{% include "base.html" %}
<div style="padding:20px;margin-top:30px;background-color:#6e99b4;">
    <ul class="">
        {% for playlist in playlists %}
            {% with "Database/others/"|add:playlist.pic_path|add:".jpg" as image %}
                <li class="">
                    <a href="{% url 'playlist:detail' playlist.id %}"
                       class="" onclick="setStatCookie&amp;&amp;setStatCookie();"
                       hidefocus="true" title={{ playlist.name }}>
                        <img class="" onerror="this.src='{% static image %}';this.onerror=null;"
                             src="{% static image %}" width="288" height="162" alt={{ playlist.name }}>
                    </a>
                    <h3 class="">
                        <a href="{% url 'playlist:detail' playlist.id %}"
                           onclick="setStatCookie&amp;&amp;setStatCookie();"
                           class="" title={{ playlist.name }}>
                            {{ playlist.name }}
                        </a>
                    </h3>
                    <h4 class="">
                        创建者：{{ playlist.creator }}<br>
                        创建时间：{{ playlist.created_time }}
                    </h4>
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
</div>
</body>
</html>