<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全部歌单</title>
</head>

<body>
{% load staticfiles %}
{% include "base.html" %}
<link rel="stylesheet" href="{% static 'CSS/album_index.css' %}" type="text/css"/>
<div class="mod_part_detail">
    <div class="mod_playlist mod_playlist--all">
        <ul class="playlist__list" id="album_list">
        {% for playlist in playlists %}
            {% with "Database/others/"|add:playlist.pic_path|add:".jpg" as image %}
                    <li class="playlist__item"
                        onmouseover="this.className=(this.className+&#39; playlist__item--hover&#39;)"
                        onmouseout="this.className=this.className.replace(/ playlist__item--hover/, &#39;&#39;)">
                        <div class="playlist__item_box">
                            <div class="playlist__cover mod_cover" style="visibility: visible;">
                                <a href="{% url 'playlist:detail' playlist.id %}"
                                   onclick="setStatCookie&amp;&amp;setStatCookie();" class="js_album">
                                    <img src="{% static image %}"
                                         onerror="this.src='{% static image %}';this.onerror=null;"
                                         alt="{{ playlist.name }}" class="playlist__pic"
                                         style="display: block; visibility: visible;">
                                    <i class="mod_cover__icon_play js_play"></i>
                                </a>
                            </div>
                            <h4 class="playlist__title">
                                <span class="playlist__title_txt">
                                    <a href="{% url 'playlist:detail' playlist.id %}" onclick="setStatCookie&amp;&amp;
                                    setStatCookie();" class="js_album"
                                       title={{ playlist.name }}>
                                        {{ playlist.name }}
                                    </a>
                                </span>
                            </h4>
                            <h4 class="playlist__title">
                                <span class="playlist__title_txt">
                            <div class="playlist__author" title={{ playlist.creator_name }}>
                                <a href="{% url 'user:song' playlist.creator_id %}" class="js_singer"
                                   title="{{ playlist.creator_name }}">
                                    {{ playlist.creator_name }}
                                </a>
                            </div>
                                </span>
                            </h4>
                            <div class="playlist__other">
                                创建时间：{{ playlist.created_time }}
                            </div>
                            <div class="playlist__other">
                                类型：{{ playlist.labels }}
                            </div>
                        </div>
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
    </div>
</div>

</body>
</html>