<!DOCTYPE html>
<html lang='zh-en'>
<head>
    <meta charset="utf-8">
    <title>{{ song.name }}</title>
</head>
<body>
{% include "base.html" %}
{% load staticfiles %}
<div style="padding:20px;margin-top:30px;background-color:#6e99b4;height:1500px;">
    {% with "Database/pic/"|add:album.id|add:".jpg" as image %}
        <a href="#" class="" onclick="setStatCookie&amp;&amp;setStatCookie();" hidefocus="true" title={{ song.name }}>
            <img class="" onerror="this.src='{% static image %}';this.onerror=null;" src="{% static image %}"
                 width="200" height="200" alt={{ song.name }}>
        </a>
    {% endwith %}
    <h3 class=""> {{ song.name }}
    </h3>
    <h3 class="">
        <a href="{% url 'album:detail' album.id %}" onclick="setStatCookie&amp;&amp;setStatCookie();" class=""
           title={{ album.name }}>
            所属专辑：{{ album.name }}
        </a>
    </h3>
    <h3 class="">
        <a href="{% url 'artist:detail' artist.id %}" onclick="setStatCookie&amp;&amp;setStatCookie();" class=""
           title={{ artist.name }}>
            演唱歌手：{{ artist.name }}
        </a>
    </h3>
    <div>
        {% with 'Database/'|add:artist.name|add:"/"|add:album.name|add:"/"|add:song.name|add:".mp3" as audio %}
            <audio controls="controls">
                <source src="{% static audio %}" type="audio/mpeg">
                您的浏览器不支持audio元素
            </audio>
        {% endwith %}
    </div>
    <div>
    </div>
</div>
</body>
</html>